### MeteoMonitor Configuration file
###  -- DON'T ADD LINES (even comments)!!! the format is hardcoded in meteoli.f
# root html: URL of the directory where the meteomonitor runs (end with / )
http://www.eso.org/~ohainaut/meteo
# file containing the dimm data
dimm.dat
# URL  containing the limit info etc
dimm.html
